.storrelse{
    width: 100%;
    min-width: 1000px;
}

#header {
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    background: url(../img/Bakgrunn.jpg);
    height: 108px;
} 
#banner {
    position: fixed;
    text-align: center;
    width: 300px;
     margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
}
#midBox{
    position: absolute;
    left: 130px;
    right: 130px;
    top: 108px;
    bottom: 0px;
    background-color: grey;
    min-width: 700px;
    text-align: left;
    overflow: scroll;
    background: grey; /* For browsers that do not support gradients */
    background: linear-gradient(grey, lightgrey);
}
#topLeft{
    position: absolute;
    left: 20%;
    top: 115px;
    width: 37%;
    height: 40%;
    font-size: 110%;
}
#topLeft img{
    width: 70%;
}
#topRight{
    position: absolute;
    right: 5%;
    top: 115px;
    width: 37%;
    height: 40%;
    font-size: 110%;
}
#topRight img{
    width: 30%;
}
#botLeft{
    position: absolute;
    left: 20%;
    top: 510px;
    width: 37%;
    height: 40%;
    font-size: 110%;
}
#botLeft img{
    width: 30%;
}
#botRight{
    position: absolute;
    right: 5%;
    top: 510px;
    width: 37%;
    height: 40%;
    font-size: 110%;
}
#botRight img{
    width: 40%;
}
#last{
    position: absolute;
    left: 250px;
    margin: auto;
    top: 850px;
    height: 40%;
    width: 90%;
    
}
#last img{
    width: 40%;
}
#navigation {
    position: fixed;
    left: 0px;
    min-width: 130px;
    min-height: 400px;
    max-width: 130px;
    margin-top: 100px;
    background: url(../img/Bakgrunn.jpg);
    color: white;
}
#navigation h4{
    color: white;
}
#navigation li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#search{
    position: fixed;
    margin-top: 20px;
    float: right;
    width: 250px;
    right: 0px;
}
#reklame{
    position: fixed;
    left: 0px;
    background-color: darkgray;
    min-width: 130px;
    min-height: 400px;
    max-width: 130px;
    margin-top: 501px;
    max-height: 400px;
}
#turnering{
    position: fixed;
    background: url(../img/Bakgrunn.jpg);
    right: 0px;
    min-width: 130px;
    min-height: 400px;
    max-width: 130px;
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
}
#turnering h3{
    color: white;
}
#turnering a{
    text-decoration: none;
    color: white;
}
#reklame2{
    position: fixed;
    right: 0px;
    background-color: darkgray;
    min-width: 130px;
    min-height: 400px;
    max-width: 130px;
    margin-top: 501px;
}
#reklame img{
    width: 130px;
    height: 400px;
}
#reklame2 img{
    width: 130px;
    height: 400px;
}

p a{
    text-decoration: none;
    color: black;
    position: absolute;
    text-align: center;
    font-weight: bold;
}
#midBox img{
    position: absolute;
    margin: auto;
    left: 0px;
    top: 50px;
}
#ok{
    position: absolute;
    top: 0px;
    left: 0px;
}